<header>
    <nav>
        <a href="home.html">Home</a>
        <a href="contact.html">Contact</a>
    </nav>
</header>
<main>
    <h1>My name is Alex</h1>
    <p>
        I'm new to programming, but am
        quickly coming up to speed.
    </p>
    <p>
        My contact info:

    </p>
</main>
<footer>
    <div>Copyright 1982 by me!</div>
    <div>I like pie</div>
</footer>
